{{asset}}
<div id=main>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <main id="main-content-wrapper">
    <section class="card">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="h1-text">Investment for the project <span class="green-text h1-asset">Zooblitz.</span>
            </h1>
          </div>
          <div class="col-xs-12 display-flex">
            <div class="flex-container flex-flow-column percentage-wrapper">
              <span class="percentage-text green-text text-center">Investment amount</span>
              <div class="flex-container circle">
                <span class="bold-text">1</span>
              </div>
              <div class="first-percentage-line">
                <div class="first-percentage-line-inner-wrapper">
                  <img class="arrow" src="./assets/images/fa-chevron-right.svg" alt="">
                </div>
              </div>
              <div class="second-percentage-line"></div>
            </div>

            <div class="flex-container flex-flow-column percentage-wrapper">
              <span class="percentage-text green-text text-center">Investor details</span>
              <div class="flex-container circle">
                <span class="bold-text">2</span>
              </div>
              <div class="first-percentage-line">
                <div class="first-percentage-line-inner-wrapper">
                  <img class="arrow" src="./assets/images/fa-chevron-right.svg" alt="">
                </div>
              </div>
              <div class="second-percentage-line"></div>
            </div>
            <div class="flex-container flex-flow-column percentage-wrapper">
              <span class="percentage-text green-text text-center">Contracts & Confirmation
              </span>
              <div class="flex-container circle">
                <span class="bold-text">3</span>
              </div>
              <div class="first-percentage-line">
                <div class="first-percentage-line-inner-wrapper">
                  <img class="arrow" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBiYXNlUHJvZmlsZT0idGlueSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiDQoJIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTA1IDEwNyA2LjkgMTAuOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjNDZBRDhEIiBkPSJNLTEwMy4yLDExNy43Yy0wLjIsMC4yLTAuNCwwLjItMC42LDBsLTEuMS0xLjFjLTAuMi0wLjItMC4yLTAuNCwwLTAuNmwzLjYtMy42bC0zLjYtMy42DQoJCWMtMC4yLTAuMi0wLjItMC40LDAtMC42bDEuMS0xLjFjMC4yLTAuMiwwLjQtMC4yLDAuNiwwbDUsNWMwLjIsMC4yLDAuMiwwLjQsMCwwLjZMLTEwMy4yLDExNy43eiIvPg0KPC9nPg0KPC9zdmc+DQo=" alt="">
                </div>
              </div>
              <div class="second-percentage-line"></div>
            </div>
            <div class="flex-container flex-flow-column percentage-wrapper">
              <span class="percentage-text green-text text-center">Payment
              </span>
              <div class="flex-container circle">
                <span class="bold-text">4</span>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row row-margin-top">
        <article class="col-xs-8">
          <div class="card card-padding">
          <div id="tab" ng-show="isSet(1)">
            <div class="col-xs-12">
             <div class="flex-container">
               <h2 class="h2-text">Please enter the amount you would like to invest
               </h2>
               <!-- <button>expert mode</button> -->
             </div>
             <div class="flex-container margin-bottom-55px">
              <div class="flex-container">
                <i class="fa fa-eur euro-icon"></i>
                <div class="vertical-line"></div>
                <span class="invested-amount">1.000,00</span>
              </div>
              <div class="flex-container flex-flow-column initial-align">
                <div>
                  <span class="bold-text">Minimum amount:</span>
                  <span>EUR 1.00 </span>
                </div>
                <div>
                  <span class="bold-text">Maximum amount:</span>
                  <span>EUR 1.00 </span>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class="col-xs-12">
            <span>Link for currency exange site www.curencyexange.com</span>
          </div>
          <article class="col-xs-6 investment-box">
            <div class="investment-box-inner-wrapper">
              <div class="investment-heading flex-container">
                <div class="investment-number-container">
                  <span class="investment-number">100</span>
                  <i class="fa fa-eur euro-icon"></i>
                </div>
                <span class="investment-title">investment</span>
                <div class="round-icon-wrapper">
                  <i class="fa fa-users status-icon"></i>
                </div>
              </div>
              <div class="investment-body flex-container">
                <div class="investment-left-box"><span class="investmet-body-description">Supporter</span>
                </div>
                <div class="investment-right-box"><p class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </article>
          <article class="col-xs-6 investment-box">
            <div class="investment-box-inner-wrapper">
              <div class="investment-heading flex-container">
                <div class="investment-number-container">
                  <span class="investment-number">100</span>
                  <i class="fa fa-eur euro-icon"></i>
                </div>
                <span class="investment-title">investment</span>
                <div class="round-icon-wrapper">
                  <i class="fa fa-users status-icon"></i>
                </div>
              </div>
              <div class="investment-body flex-container">
                <div class="investment-left-box"><span class="investmet-body-description">Supporter</span>
                </div>
                <div class="investment-right-box"><p class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </article>
          <article class="col-xs-6 investment-box">
            <div class="investment-box-inner-wrapper">
              <div class="investment-heading flex-container">
                <div class="investment-number-container">
                  <span class="investment-number">100</span>
                  <i class="fa fa-eur euro-icon"></i>
                </div>
                <span class="investment-title">investment</span>
                <div class="round-icon-wrapper">
                  <i class="fa fa-users status-icon"></i>
                </div>
              </div>
              <div class="investment-body flex-container">
                <div class="investment-left-box"><span class="investmet-body-description">Supporter</span>
                </div>
                <div class="investment-right-box"><p class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </article>
          <article class="col-xs-6 investment-box">
            <div class="investment-box-inner-wrapper">
              <div class="investment-heading flex-container">
                <div class="investment-number-container">
                  <span class="investment-number">100</span>
                  <i class="fa fa-eur euro-icon"></i>
                </div>
                <span class="investment-title">investment</span>
                <div class="round-icon-wrapper">
                  <i class="fa fa-users status-icon"></i>
                </div>
              </div>
              <div class="investment-body flex-container">
                <div class="investment-left-box"><span class="investmet-body-description">Supporter</span>
                </div>
                <div class="investment-right-box"><p class="p-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </article>
          </div>
          <div ng-show="isSet(2)">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nihil veniam dolore quis doloremque, mollitia saepe, expedita optio eius! Officiis et nobis cum aperiam omnis ullam nemo, sapiente deleniti consequuntur.</p>
          </div>
          <div class="col-xs-12 flex-container
          ">
          <button ng-click="setTab(1)" class="btn-lg conda-btn">Previous</button>
          <button ng-click="setTab(2)" class="btn-lg conda-btn">Next</button>
        </div>
       "

      </div>
    </article>
    <article id="informations" class="col-xs-4 column-padding">
      <div class="card">
        <img class="img-responsive" src="./assets/images/projectpicture@2x.jpg" alt="">
        <div class="days-remaining-container flex-container">
          <div class="days-remaining-inner-wrapper">
            <span class="number-of-days bold-text">18</span>
            <span class="text-of-days">days remaining</span>
          </div>
        </div>
        <div class="col-xs-12">
          <h2 class="h2-text bold-text">Zooblitz</h2>
          <hr>
          <div class="investment-details bold-text">Investment details</div>

          <div>
            <span class="bold-text"> Base interest: </span><span>4.5% p.a.</span>
          </div>
          <div>
            <span class="bold-text"> Cotnract periond: </span><span>121 years</span>
          </div>
          <div>
            <span class="bold-text"> Particitpation type: </span><span>Subordinate debt</span>
          </div>
          <div>
            <span class="bold-text">Apreciation interest: </span><span>at maturity date</span>
          </div>
          <div class="service-fee-container">
            <span class="bold-text green-text">Service fee: </span><span>€ 50</span>
          </div>
          <hr>
          <div class="investment-meta-wrapper">
            <div class="margin-bottom-20">
              <i class="fa fa-map-marker"></i><span>Raleigh, NC.</span>
            </div>
            <div>
              <i class="fa fa-pie-chart"></i><span class="uppercase-text">CONDA</span>
            </div>
          </div>
          <!--  <p class="green-text">This information is based on the given figures from the company</p> -->
          <hr>
        </div>
      </div>
    </article>
  </div>
</section>
</main>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non asperiores quisquam ipsum, nesciunt deleniti pariatur eum, nisi? Aliquid quam modi iusto porro molestiae quae nesciunt nihil, ex, quis aperiam ipsum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non asperiores quisquam ipsum, nesciunt deleniti pariatur eum, nisi? Aliquid quam modi iusto porro molestiae quae nesciunt nihil, ex, quis aperiam ipsum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non asperiores quisquam ipsum, nesciunt deleniti pariatur eum, nisi? Aliquid quam modi iusto porro molestiae quae nesciunt nihil, ex, quis aperiam ipsum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non asperiores quisquam ipsum, nesciunt deleniti pariatur eum, nisi? Aliquid quam modi iusto porro molestiae quae nesciunt nihil, ex, quis aperiam ipsum.</p>
v
v
